# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/

# Large Files / Crash Dumps
*.crash
*.dump
core.*
tests/vmcore
tests/vmlinux
tests/crash_data/
